language: python

python:
    - 3.2
    - 3.3

env:
    matrix:
        - DB=sqlite YOSHIMI_TEST_DB='sqlite:///:memory:'
        - DB=mysql YOSHIMI_TEST_DB='mysql+mysqlconnector://travis@127.0.0.1/yoshimi_test'
        - DB=postgres YOSHIMI_TEST_DB='postgresql+psycopg2://travis@127.0.0.1/yoshimi_test'

install:
    - pip install mock
    - pip install https://bitbucket.org/zzzeek/sqlalchemy/downloads/SQLAlchemy-0.9.0b1.tar.gz
    - pip install https://bitbucket.org/fanstatic/fanstatic/src/c3bf0937352a90e9df7fddd19954ff925d01ca66/3rdparty/which/which-1.1.3.py3.tar.gz
    - python setup.py dev

before_script:
      - mysql -e 'CREATE DATABASE IF NOT EXISTS yoshimi_test;'
      - psql -c 'DROP DATABASE IF EXISTS yoshimi_test;' -U postgres;
      - psql -c 'CREATE DATABASE yoshimi_test;' -U postgres
script:
    - flake8 --ignore=E501,E231,E121,E502,E251 yoshimi tests
    - if [[ $DB == sqlite ]]; then python setup.py nosetests; fi
    - if [[ $DB == mysql ]]; then python setup.py nosetests -a database; fi
    - if [[ $DB == postgres ]]; then python setup.py nosetests -a database; fi
