language: python

python:
    - 3.3

env:
    matrix:
        - DB=sqlite YOSHIMI_TEST_DB='sqlite:///:memory:'
        - DB=mysql YOSHIMI_TEST_DB='mysql+mysqlconnector://travis@127.0.0.1/yoshimi_test'
        - DB=postgres YOSHIMI_TEST_DB='postgresql+psycopg2://travis@127.0.0.1/yoshimi_test'

install:
    - pip install coveralls
    - python setup.py dev

before_script:
      - mysql -e 'DROP DATABASE IF EXISTS yoshimi_test;'
      - mysql -e 'CREATE DATABASE yoshimi_test;'
      - psql -c 'DROP DATABASE IF EXISTS yoshimi_test;' -U postgres;
      - psql -c 'CREATE DATABASE yoshimi_test;' -U postgres

script:
    - flake8 --ignore=E501,E231,E121,E502,E251 yoshimi tests
    - if [[ $DB == sqlite ]]; then python setup.py test; fi
    - if [[ $DB == mysql ]]; then python setup.py test -m all_databases; fi
    - if [[ $DB == postgres ]]; then python setup.py test -m all_databases; fi

after_success:
    - coveralls
