{% macro button_class(page, children) -%}
    {% if children.page == page %}
        "active"
    {% else %}
        "ellipsis disabled"
    {% endif %}
{%- endmacro %}

{% macro paginate(items) -%}
    <ul class="pure-paginator paginator-attached paginator-right">
        {% if items.has_prev %}
            <li>
            <a class="paginator-item prev" 
                href="{{ caller(items.prev_num) }}">
                    «
                </a>
            </li>
        {% else %}
            <li class="disabled"><span class="paginator-item prev">«</span></li>
        {% endif %}
        {% for page in items.iter_pages() %}
            {% if page %}
                <li class="{{ button_class(page, items) }}">
                    {% if items.page == page %}
                        <span class="paginator-item">{{ page }}</span>
                    {% else %}
                    <a class="paginator-item" 
                        href="{{ caller(page) }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="ellipsis disabled"><span class="paginator-item">&hellip;</span></li>
            {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <li>
                <a class="paginator-item next"
                    href="{{ caller(items.next_num) }}">
                    »
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span class="paginator-item next" href="#">»</span>
            </li>
        {% endif %}
    </ul>
{%- endmacro %}
